@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --primary: #F9A8D4;
    --black: #333333;
    --width-break: 600px;
}

body {
    margin: 0;
    font-family: 'Kalam', cursive;
    color: #333333;
}

header {
    background-color: var(--primary);
    text-align: center;
    padding: 0.5rem;
}

section {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

text-area {
    box-sizing: border-box;
    display: block;
    width: 350px;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    display: block;
}

#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary);
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
    width: 100%auto;
}

.footer-heading {
    font-size: x-large;
}